USE [master]
GO
/****** Object:  Database [Ted]    Script Date: 13/03/2023 14:47:39 ******/
CREATE DATABASE [Ted]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Ted', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Ted.mdf' , SIZE = 6144KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Ted_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Ted_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Ted].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Ted]
GO
/****** Object:  Schema [keggel]    Script Date: 13/03/2023 14:47:40 ******/
CREATE SCHEMA [keggel]
GO
/****** Object:  Table [keggel].[ted_talks_data]    Script Date: 13/03/2023 14:47:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [keggel].[ted_talks_data](
	[talk_id] [float] NULL,
	[title] [nvarchar](255) NULL,
	[speaker] [nvarchar](255) NULL,
	[recorded_date] [datetime] NULL,
	[published_date] [datetime] NULL,
	[event] [nvarchar](255) NULL,
	[duration] [float] NULL,
	[views] [float] NULL,
	[likes] [float] NULL
) ON [PRIMARY]

GO
USE [master]
GO
